body {
  font-family: 'Roboto Slab', serif;
}

.mobileproject {
  font-family: 'Roboto Slab', serif;
  font-size: 3.5em;
}

.stripe, h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
}

.textbox {
  width: 75%;
  margin: auto;
  font-size: 3.5em;
}

.text2 {
  margin: auto;
  font-size: 3.5em;
}

.bottom.stripe {
  text-align: center;
  font-size: 2.5em;
}


.m-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 200px 200px 200px 600px 200px 200px 600px 200px 600px 180px;
  grid-template-columns: 1fr;
}

.grid-hash {
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 1350px 2230px 2760px 1120px 1650px 2150px 2475px 960px 110px;
  grid-template-columns: 1fr;
}

.grid-info {
  height: 100vh;
  display: grid;
  grid-template-rows: 110px 950px 800px 2550px 510px 1200px 365px 950px 1900px 2650px 120px;
  grid-template-columns: 1fr;
}

.grid-blick {
  height: 100vh;
  display: grid;
  grid-template-rows: 110px 1475px 1950px 650px 530px 920px 1350px 1720px 950px 120px;
  grid-template-columns: 1fr;
}


.stripe {
  /*border-bottom: 20px solid #367960;*/
  background: #efe; /* For browsers that do not support gradients */
  grid-column-start: 1;
  grid-column-end: 5;
  display: inline;
  font-size: 3em;
  /*text-align: right;*/
  /*text-decoration: none;*/
}

a:visited, a:link {
  text-decoration: none;
  color: #333;
}

.content1 {
  background-color: orange;
  /*border-right: 3px solid #F78018;*/
  /*border: 9px solid #DA9473;*/
  grid-column-start: 1;
  grid-column-end: span 1;
  font-size: 2em;
  color: #fff;
  letter-spacing: 7px;
  padding: 0px 0 0 10px;
  text-align: center;
}

#smalltext {
  font-size: 15px;
  letter-spacing: 2px;
}

.content2 {
  /*border-left: 3px solid #eee;*/
  background-color: #FAE597;
  grid-column-start: 2;
  grid-column-end: span 1;
  /*padding: 30px 15px 0 55px;*/
  height: 150px;
}

.content2 h3, .content5 h3, .content7 h3 {
  text-align: right;
  font-size: 1.5em;
  /*color: #eee;*/
}

.content3 {
  /*border: 2px solid #ffcf23;*/
  background-color: #fff;
  grid-column-start: 3;
  grid-column-end: span 1;
}

.content4 {
  /*border: 4px solid white;*/
  background-color: #389E77;
  grid-column-start: 4;
  grid-column-end: span 1;
}

.content5 {
  background-color: #365193;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content6 {
  background-color: #fff;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.content7 {
  background-color: antiquewhite;
  grid-column-start: 3;
  grid-column-end: span 1;
}

.content8 {
  background-color: #fff;
  grid-column-start: 4;
  grid-column-end: span 1;
}

#namespan {
  padding-left: 25px;
}

#titlespan {
  float: right;
  padding-right: 10px;
  color: #365193;
  font-size: .8em;
}
/*
.fillings1 p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  padding: 10px 10px 10px 10px;
}*/

.hash, .infoshop, .blick {
/*  display: flex;
  flex-direction: column;
  justify-content: center
  align-items: center;
*/  /*padding: 24px 10px 0px 35px;*/
  margin: auto;
}

.hash {
  padding: 25px 10px 0px 35px;
}

.infoshop {
  padding: 65px 0px 0px 20px;
}

.blick {
  padding: 55px 0px 0px 16px;
}

.content1-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 35px 0 0 0;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content2-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 25px 30px 20px 30px;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content3-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #efe;
  padding: 55px 160px 0 70px;
  display: inline-block;
}

.content3-hash img {
  float: left;
  padding: 0 70px 0 15px;
}

.content4-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 85px 160px 0 70px;
  /*display:flex;*/
  /*justify-content: flex-start;*/
  display: inline-block;
  /*float: left;*/
}

.content4-hash img {
  float: left;
  padding: 40px 90px 0 15px;
}

.centerimage {
  padding: 65px 0 30px 0;
}

.content5-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 35px 10px 0 30px;
}

.content6-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 70px 30px;
  background-color: #48758A;
  color: #fff;

}

.content7-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 75px 70px 70px 30px;
}

.content8-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #efe;
  padding: 35px 30px 0 30px;
}

#IS1_section, #IS2_section {
  display: inline-block;
  position: relative;
  width: 90%;
  left: 11%;
  margin-top: 0px;
}

#IS1_inner, #IS2_inner {
  padding-top: 53%;
}

.IS1_picdiv, .IS2_picdiv {
  background-size: 75%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*width: 800px;*/
}

.IS1_picdiv {
  background-image: url("images/infoshop_screens1.png");
}

.IS2_picdiv {
  background-image: url("images/infoshop_screens2.png");
}

#midfi1_section, #midfi2_section {
  display: inline-block;
  position: relative;
  width: 84%;
  left: 14%;
  margin-top: 0px;
}

#midfi1_inner, #midfi2_inner {
  padding-top: 40%;
}

.midfi1_picdiv, .midfi2_picdiv {
  background-size: 69%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.midfi1_picdiv {
  background-image: url("images/infoshop_series.jpg");
}

.midfi2_picdiv {
  background-image: url("images/infoshop_midfi.jpg");
}

#infopersona_section {
  display: inline-block;
  position: relative;
  width: 75%;
  left: 9%;
  margin-top: 20px;
}

#infopersona_inner {
  padding-top: 48%;
}

.infopersona_picdiv {
  background-image: url("images/user_persona_Jessica_infoshop.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


#BA_section {
  display: inline-block;
  position: relative;
  width: 84%;
  left: 9%;
  margin-top: 20px;
}

#BA_inner {
  padding-top: 59%;
}

.BA_picdiv {
  background-image: url("images/blick_phone_annot_single.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#BC_section {
  display: inline-block;
  position: relative;
  width: 90%;
  left: 11%;
  margin-top: 20px;
}

#BC_inner {
  padding-top: 79%;
}

.BC_picdiv {
  background-image: url("images/blick_desk_checkout.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#BHF_section {
  display: inline-block;
  position: relative;
  width: 90%;
  left: 11%;
  margin-top: 40px;
}

#BHF_inner {
  padding-top: 19%;
}

.BHF_picdiv {
  background-image: url("images/blick_images_row.jpg");
  /*box-shadow: 10px 10px 5px #999;*/
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
