body {
  font-family: 'Roboto Slab:300', serif;
  font-weight: 300;
  margin: 0;
}

.mobileproject {
  font-family: 'Roboto Slab:300', serif;
  font-weight: 300;
  font-size: 3.3em;
}

.textbox {
  width: 75%;
  margin: auto;
  font-size: 1em;
}

.text2 {
  margin: auto;
  font-size: 1em;
}

.grid-hash, .grid-info, .grid-blick {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-about {
  font-family: 'Roboto Slab', serif;
  display: grid;
  grid-template-columns: 1fr;
}

#aboutdiv {
  padding: 50px 10px 10px 15px;
  font-size: 1.8em;
}

#aboutdiv img {
  padding: 25px 0 0 32px;
}

/*hash,info, and then blick pages old EXPLICIT CSS Grid Row height statements for mobile below.
Now just not stating and letting them be IMPLICIT,
which means automatic adjusting height to fit content*/
/*grid-template-rows: 200px 1950px 3120px 3350px 1350px 1650px 2150px 2555px 960px 200px;*/
/*grid-template-rows: 200px 950px 900px 2550px 510px 1200px 425px 950px 1900px 2650px 200px;*/
/*grid-template-rows: 200px 1680px 1950px 650px 530px 920px 1350px 1720px 950px 200px;*/

.stripe {
  /*border-bottom: 20px solid #367960;*/
  font-family: 'Rubik', sans-serif;
  font-size: 3.5em;
  background: #EBE8E8;
  grid-column-start: 1;
  grid-column-end: 5;
  display: inline;
  padding: 30px 0 30px 0;
  /*height: 200px;*/
  /*text-align: right;*/
  /*text-decoration: none;*/
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4em;
}

/*p#bottomlinks {
  text-align: center;
  font-size: 2em;
}*/

.bottom.stripe {
  background-color: #fff;
  font-size: 3em;
  text-align: center;
}


a:visited, a:link {
  text-decoration: none;
  color: #333;
}

.double-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 110px 0 110px;
}

.double-column p {
  margin: 20px 0 25px 15px;
  text-align: left;
}

.double-column img {
  margin: 0 20px 25px 40px;
}

.content7-hash h3 {
  /*border-top: 1px solid black;*/
  padding-top: 20px;
}

#namespan {
  padding-left: 25px;
}

#titlespan {
  float: left;
  padding-right: 10px;
  padding-left: 25px;
  color: #365193;
  font-size: .8em;
}

#nameimage {
  float: right;
  padding: 22px 40px 20px 0;
}

#titleimage {
  float: left;
  padding: 0 0 5px 22px;
}

.centermobile{
    text-align: center;
    margin: auto;
}

.centermobilehome {
  padding: 25px 0 0px 290px;
}

#personas {
  background: #eee;
  padding: 50px 0 65px 0;
}

.numbers {
  font-size: 1.4em;
}

.bold {
  font-weight: 400;
}

.content1-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 35px 0 0 0;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content1-infoshop {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 35px 0 50px 0;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content2-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 25px 30px 20px 30px;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content2-infoshop {
  background-color: #E2F9F8;
  color: #222;
  text-align: center;
  padding: 45px 30px 20px 40px;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content3-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #f7ddb9;
  padding: 55px 160px 0 70px;
  display: inline-block;
}

.content3-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #efe;
  padding: 120px 160px 0 160px;
  display: inline-block;
}

.content3-5-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 85px 100px 0 100px;
  display: inline-block;
}


.content3-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #F2F2F2;
  padding: 70px 70px 70px 70px;
  display: inline-block;
}

.content3-hash img {
  float: left;
  padding: 0 70px 0 15px;
}

.content3-blick img {
  padding: 0 70px 0 70px;
}

.content4-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 85px 160px 0 70px;
  /*display:flex;*/
  /*justify-content: flex-start;*/
  display: inline-block;
  /*float: left;*/
}

.content4-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #eee;
  padding: 85px 100px 0 100px;
  /*display: inline-block;*/
}

.content4-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #FAE597;
  padding: 85px 40px 80px 40px;
  /*display:flex;*/
  /*justify-content: flex-start;*/
  /*float: left;*/
}

.content4-hash img {
  float: left;
  padding: 40px 90px 0 15px;
}

.centerimage {
  padding: 65px 0 30px 0;
}

.content5-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 35px 10px 0 30px;
}

.content5-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 35px 10px 40px 30px;
}

.content6-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 70px 30px;
  background-color: #48758A;
  color: #fff;
}

.content6-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 0px 50px 10px 50px;
  background-color: #FAE597;
  color: #222;
}

.content6-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 0px 70px 10px 30px;
  background-color: #fff;
  color: #222;
}

.content7-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 75px 70px 70px 30px;
}

.content7-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 40px 70px 20px 30px;
}

.content7-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 70px 20px 30px;
}

.content8-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #f7ddb9;
  padding: 35px 30px 70px 30px;
}

.content8-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 35px 30px 70px 30px;
}

.content8-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 70px 30px;
  background: #E2F9F8;
}

.content9-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 80px 30px;
  background: #FFF;
}

/* Nested Div CSS Background image responsive image rules below */

#IS1_section, #IS2_section {
  display: inline-block;
  position: relative;
  width: 90%;
  left: 11%;
  margin-top: 0px;
}

#IS1_inner, #IS2_inner {
  padding-top: 53%;
}

.IS1_picdiv, .IS2_picdiv {
  background-size: 75%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*width: 800px;*/
}

.IS1_picdiv {
  background-image: url("images/infoshop_screens1.png");
}

.IS2_picdiv {
  background-image: url("images/infoshop_screens2.png");
}

#midfi1_section, #midfi2_section {
  display: inline-block;
  position: relative;
  width: 84%;
  left: 14%;
  margin-top: 0px;
}

#midfi1_inner, #midfi2_inner {
  padding-top: 40%;
}

.midfi1_picdiv, .midfi2_picdiv {
  background-size: 69%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.midfi1_picdiv {
  background-image: url("images/infoshop_series.jpg");
}

.midfi2_picdiv {
  background-image: url("images/infoshop_midfi.jpg");
}

#infopersona_section {
  display: inline-block;
  position: relative;
  width: 75%;
  left: 9%;
  margin-top: 20px;
}

#infopersona_inner {
  padding-top: 48%;
}

.infopersona_picdiv {
  background-image: url("images/user_persona_Jessica_infoshop.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


#BA_section {
  display: inline-block;
  position: relative;
  width: 84%;
  left: 9%;
  margin-top: 20px;
}

#BA_inner {
  padding-top: 59%;
}

.BA_picdiv {
  background-image: url("images/blick_phone_annot_single.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#BC_section {
  display: inline-block;
  position: relative;
  width: 90%;
  left: 11%;
  margin-top: 20px;
}

#BC_inner {
  padding-top: 79%;
}

.BC_picdiv {
  background-image: url("images/blick_desk_checkout.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#BHF_section {
  display: inline-block;
  position: relative;
  width: 98%;
  left: 5%;
  margin-top: 40px;
}

#BHF_inner {
  padding-top: 19%;
}

.BHF_picdiv {
  background-image: url("images/blick_images_row.jpg");
  /*box-shadow: 10px 10px 5px #999;*/
  background-size: 95%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Dropdown Menu Styles*/
.mobile-nav {
  /*float: right;*/
  padding: 20px 40px 0 25px;
  position: absolute;
  background: #EBE8E8;
}

.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}

.menu-btn span {
  display: block;
  width: 60px;
  height: 4px;
  margin: 14px 0;
  background: rgb(0,0,0);
  z-index: 99;
}

.responsive-menu{
  display: none;
  font-family: 'Roboto Slab', serif;
}

.expand {
  display: block !important;
}

.expand li {
    line-height: 2em;
    color: black;
    list-style: none;
}

.expand a {
    text-decoration: none !important;
}

a:visited {
    color: black;
}
