
.pictureContainer {
    height: 83px;
    width: 416px;
    overflow: hidden;
}

.pictureContainer img {
    position: relative;
    top: 0px;

    -webkit-transition: top .2s ease-in-out;
    -moz-transition: top .2s ease-in-out;
    -o-transition: top .2s ease-in-out;
    transition: top .2s ease-in-out;

}
.pictureContainer img:hover {
    top: -83px;
}