body {
  font-family: 'Roboto Slab:300', serif;
  font-weight: 300;
  margin: 0;
  font-size: 1.1em;
  line-height: 2em;
}

div.project {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 1.1em;
  padding: 80px 0 80px 0;
}

.stripe, h1 {
  font-family: 'Rubik', sans-serif;
}

.textbox {
  width: 55%;
  margin: auto;
}

.text2 {
  margin: auto;
  padding: 0 70px 0 60px;
  text-align: center;
}

.grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 110px 750px 650px 100px;
  /*grid-template-rows: 110px auto auto 100px;*/
  /*grid-template-columns: .25fr .25fr .25fr .25fr;*/
  grid-template-columns: repeat(4, 25vw);
}

.grid-project-hashtravel, .grid-project-infoshop, .grid-project-blick {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-about {
  font-family: 'Roboto Slab', serif;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-about .double-column {
  padding: 60px 0 0 0;
}
  /*Old Hash, Infoshop, Blick explicit height rules below*/
  /*grid-template-rows: 110px 850px 1550px 650px 530px 1150px 1350px 1500px 950px 120px;*/
  /*grid-template-rows: 110px 950px 600px 2150px 510px 1200px 250px 950px 1900px 2650px 120px;*/
  /*grid-template-rows: 110px 940px 1875px 650px 530px 920px 1350px 1720px 950px 120px;*/


.stripe {
  /*border-bottom: 20px solid #367960;*/
  background: #EBE8E8;
  display: inline;
  font-size: 2em;
  /*text-align: right;*/
  /*text-decoration: none;*/
}

.top.stripe {
  /*border-bottom: 6px solid black;*/
}

.double-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 110px 0 110px;
}

.double-column .textbox {
  margin: 20px 0 25px 15px;
  text-align: left;
}

.double-column img {
  margin: 0 20px 25px 40px;
}

.content7-hash h3 {
  /*border-top: 1px solid black;*/
  padding-top: 20px;
}

.numbers {
  font-size: 1.4em;
}

.bold {
  font-weight: 400;
}

a:visited, a:link {
  text-decoration: none;
  color: #333;
}

#smalltext {
  font-size: 15px;
  letter-spacing: 2px;
}

#personas {
  background: #eee;
  padding: 50px 0 65px 0;
}

#nameimage {
  float: right;
  padding: 22px 40px 20px 0;
}

#titleimage {
  float: right;
  padding: 30px 40px 20px 0;
}

.hash, .infoshop, .blick {
  /*display: inline-block;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*padding: 24px 10px 0px 35px;*/
}

/*.hash {
  padding: 25px 10px 0px 35px;
}

.infoshop {
  padding: 65px 0px 0px 20px;
}

.blick {
  padding: 55px 0px 0px 16px;

}*/

.content1-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 35px 0 0 0;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content1-infoshop {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 35px 0 0 0;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content2-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 25px 30px 20px 30px;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content2-infoshop {
  background-color: #E2F9F8;
  color: #222;
  text-align: center;
  padding: 25px 30px 20px 30px;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content3-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #eadbc5;
  padding: 55px 160px 0 70px;
  display: inline-block;
}

.content3-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #F2F2F2;
  padding: 55px 160px 0 70px;
  display: inline-block;
}

.content3-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #efe;
  padding: 120px 160px 0 160px;
  display: inline-block;
}

.content3-hash img {
  float: left;
  padding: 0 100px 0 15px;
}

.content4-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 85px 160px 0 70px;
  /*display: inline-block;*/
}

.content3-5-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 85px 100px 0 100px;
}

.content4-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #eee;
  padding: 25px 100px 0 100px;
}


.content4-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  font-size: 1em;
  background-color: #FAE597;
  padding: 85px 70px 0 70px;
  /*display:flex;*/
  /*justify-content: flex-start;*/
  /*float: left;*/
}

.content4-hash img, .content3-blick img {
  float: left;
  padding: 40px 90px 0 15px;
}

.centerimage {
  padding: 65px 0 30px 0;
}

.content5-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 35px 10px 0px 30px;
}

.content5-hash.project {
  padding-bottom: 0;
}

.content6-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 70px 30px;
  background-color: #48758A;
  color: #fff;
}

.content6-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 0px 70px 10px 30px;
  background-color: #fff;
  color: #222;
}

.content6-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 0px 50px 10px 50px;
  background-color: #FAE597;
  color: #222;
}

.content7-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 75px 70px 70px 30px;
}

.content7-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #F2F2F2;
  padding: 30px 70px 20px 30px;
}

.content7-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 30px 70px 20px 30px;
}

.content8-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #eadbc5;
  padding: 35px 30px 0 30px;
}

.content8-blick {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 35px 30px 0 30px;
}

.content8-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 70px 30px;
  background: #E2F9F8;
}

.content9-infoshop {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 70px 30px;
  background: #FFF;
}

.bottom.stripe {
  text-align: center;
  font-size: 1.4em;
}

.callout {
  color: darkorange;
}

/*For Responsive Front Page Images within Grid*/
#blick_section {
  display: inline-block;
  position: relative;
  width: 85%;
  left: 8%;
  margin-top: 65px;

}

#blick_inner {
  padding-top: 100%;
}

.blick_picdiv {
  background-image: url("images/Blick_iphone_sm.png");
  background-size: 95%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

#infoshop_section {
  display: inline-block;
  position: relative;
  width: 85%;
  left: 8%;
  margin-top: 65px;

}

#infoshop_inner {
  padding-top: 100%;
}

.infoshop_picdiv {
  background-image: url("images/sitemap_image_sm.png");
  background-size: 95%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

#hashtravel_section {
  display: inline-block;
  position: relative;
  width: 100%;
  left: 18%;
  margin-top: 30px;
}

#hashtravel_inner {
  padding-top: 100%;
}

.hashtravel_picdiv {
  background-image: url("images/HashHomepagePersp_sm.png");
  background-size: 65%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 20px 0 20px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

#hashh3 {
  margin-top: 70px;
}

.pullquotes {
  font-size: 1.2em;
  padding: 20px 15px 0 15px;
  color: #222;
}

#aboutdiv {
  padding: 0 0 0 35px;
  width: 500px;
}

#madeby {
  font-size: .6em;
}

#infoprofile {
  /*float: left;*/
  padding: 0 0 0 20%;
  margin: 20px 20px 0 0;
  overflow: auto;
}

.leftfloat {
  float: left;
}

.leftfloat img {
  display: block:;
  padding-right: 60px;
}

#infoprofiletext {
  padding: 40px 80px 0 0;
  text-align: left;
}

#abouttag {
  padding-left: 18%;
}

#L1_section, #L2_section, #L3_section, #L4_section, #L5_section, #L6_section, #L7_section {
  display: inline-block;
  position: relative;
  width: 100%;
  left: 14%;
  margin-top: 10px;
}

#L1_inner, #L2_inner, #L3_inner, #L4_inner, #L5_inner, #L6_inner, #L7_inner {
  padding-top: 20%;
}

.L1_picdiv, .L2_picdiv, .L3_picdiv, .L4_picdiv, .L5_picdiv, .L6_picdiv, .L7_picdiv {
  background-size: 65%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 10px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}

.L1_picdiv {
  background-image: url("images/L1_research.jpg");
}

.L2_picdiv {
  background-image: url("images/L2_analysis.jpg");
}

.L3_picdiv {
  background-image: url("images/L3_ideas.jpg");
}

.L4_picdiv {
  background-image: url("images/L4_design.jpg");
}

.L5_picdiv {
  background-image: url("images/L5_technology.jpg");
}

.L6_picdiv {
  background-image: url("images/L6_details.jpg");
}

.L7_picdiv {
  background-image: url("images/L7_art.jpg");
}

#IS1_section, #IS2_section {
  display: inline-block;
  position: relative;
  width: 78%;
  left: 11%;
  margin-top: 0px;
}

#IS1_inner, #IS2_inner {
  padding-top: 53%;
}

.IS1_picdiv, .IS2_picdiv {
  background-size: 75%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*width: 800px;*/
}

.IS1_picdiv {
  background-image: url("images/infoshop_screens1.png");
}

.IS2_picdiv {
  background-image: url("images/infoshop_screens2.png");
}

#midfi1_section, #midfi2_section {
  display: inline-block;
  position: relative;
  width: 72%;
  left: 14%;
  margin-top: 0px;
}

#midfi1_inner, #midfi2_inner {
  padding-top: 40%;
}

.midfi1_picdiv, .midfi2_picdiv {
  background-size: 69%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.midfi1_picdiv {
  background-image: url("images/infoshop_series.jpg");
}

.midfi2_picdiv {
  background-image: url("images/infoshop_midfi.jpg");
}

#infopersona_section {
  display: inline-block;
  position: relative;
  width: 75%;
  left: 9%;
  margin-top: 20px;
}

#infopersona_inner {
  padding-top: 48%;
}

.infopersona_picdiv {
  background-image: url("images/user_persona_Jessica_infoshop.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#HTR_section, #HTR2_section {
  display: inline-block;
  position: relative;
  width: 75%;
  left: 12.5%;
  margin-top: 0px;
}

#HTR_inner {
  padding-top: 45%;
}

 #HTR2_inner {
    padding-top: 57%;
 }

.HTR_picdiv, .HTR2_picdiv {
  background-size: 69%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.HTR_picdiv {
  background-image: url("images/HTResults.png");
}

.HTR2_picdiv {
  background-image: url("images/IMAC_layers.png");
}

#BA_section {
  display: inline-block;
  position: relative;
  width: 82%;
  left: 9%;
  margin-top: 20px;
}

#BA_inner {
  padding-top: 59%;
}

.BA_picdiv {
  background-image: url("images/blick_phone_annot_single.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#BC_section {
  display: inline-block;
  position: relative;
  width: 78%;
  left: 11%;
  margin-top: 20px;
}

#BC_inner {
  padding-top: 79%;
}

.BC_picdiv {
  background-image: url("images/blick_desk_checkout.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#BHF_section {
  display: inline-block;
  position: relative;
  width: 80%;
  left: 10%;
  margin-top: 40px;
}

#BHF_inner {
  padding-top: 19%;
}

.BHF_picdiv {
  background-image: url("images/blick_images_row.jpg");
  /*box-shadow: 10px 10px 5px #999;*/
  background-size: 80%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 0px 0 0px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Dropdown Menu Styles*/
.mobile-nav {
  /*float: right;*/
  padding: 20px 40px 0 25px;
  position: absolute;
  background: #EBE8E8;
}

.menu-btn div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}

.menu-btn span {
  display: block;
  width: 24px;
  height: 3px;
  margin: 6px 0;
  background: rgb(0,0,0);
  z-index: 99;
}

.responsive-menu{
  display: none;
  font-family: 'Roboto Slab', serif;
}

.expand {
  display: block !important;
}

.expand li {
    line-height: 1.8em;
    color: black;
    list-style: none;
}

.expand a {
    text-decoration: none !important;
}

a:visited {
    color: black;
}

@media (max-width: 1106px) {
.double-column .textbox {
  margin-top: 0;
  }
}
