body {
  font-family: 'Rubik', sans-serif;
}

.grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 110px 650px 650px 100px;
  grid-template-columns: .25fr .25fr .25fr .25fr;
}

.m-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 110px 600px 600px 600px 600px 600px 600px 600px 600px 100px;
  grid-template-columns: 350px;
}

.grid-project {
  height: 100vh;
  display: grid;
  grid-template-rows: 110px 850px 1500px 650px 530px 1150px 1150px 1500px 950px 100px;
  grid-template-columns: 1fr;
}

.stripe {
  /*border-bottom: 20px solid #367960;*/
  background: #efe; /* For browsers that do not support gradients */
  grid-column-start: 1;
  grid-column-end: 5;
  display: inline;
  font-size: 2em;
  /*text-align: right;*/
  /*text-decoration: none;*/
}

a:visited, a:link {
  text-decoration: none;
  color: #333;
}

.content1 {
  background-color: orange;
  border-right: 3px solid #F78018;
  /*border: 9px solid #DA9473;*/
  grid-column-start: 1;
  grid-column-end: span 1;
  font-size: 2em;
  color: #fff;
  letter-spacing: 7px;
  padding: 0px 0 0 10px;
}

#smalltext {
  font-size: 15px;
  letter-spacing: 2px;
}

.content2 {
  /*border-left: 3px solid #eee;*/
  background-color: #fff;
  grid-column-start: 2;
  grid-column-end: span 1;
  padding: 30px 15px 0 55px;
}

.content2 h3, .content5 h3, .content7 h3 {
  text-align: right;
  font-size: 1.5em;
  /*color: #eee;*/
}

.content3 {
  /*border: 2px solid #ffcf23;*/
  background-color: #fff;
  grid-column-start: 3;
  grid-column-end: span 1;
}

.content4 {
  /*border: 4px solid white;*/
  background-color: #389E77;
  grid-column-start: 4;
  grid-column-end: span 1;
}

.content5 {
  background-color: #efe;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content6 {
  background-color: #fff;
  grid-column-start: 2;
  grid-column-end: span 1;
}

.content7 {
  background-color: antiquewhite;
  grid-column-start: 3;
  grid-column-end: span 1;
}

.content8 {
  background-color: #fff;
  grid-column-start: 4;
  grid-column-end: span 1;
}

#namespan {
  padding-left: 10px;
}

#titlespan {
  float: right;
  padding-right: 10px;
  color: darkorange;
  font-size: .8em;
}
/*
.fillings1 p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
  padding: 10px 10px 10px 10px;
}*/

.hash {
  display:flex;
  /*flex-direction: column;*/
  justify-content: center;
  padding: 24px 0px 0px 0px;
}

.hashpage {
 font-family: 'Merriweather Sans', sans-serif;
}

.content1-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 35px 0 0 0;
  font-weight:400;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content2-hash {
  background-color: #fff;
  color: #222;
  text-align: center;
  padding: 25px 30px 20px 30px;
  font-weight:400;
  grid-column-start: 1;
  grid-column-end: span 1;
}

.content3-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #efe;
  padding: 55px 160px 0 70px;
  display: inline-block;
}

.content3-hash img {
  float: left;
  padding: 0 70px 0 15px;
}

.content4-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 85px 160px 0 70px;
  /*display:flex;*/
  /*justify-content: flex-start;*/
  display: inline-block;
  /*float: left;*/
}

.content4-hash img {
  float: left;
  padding: 40px 90px 0 15px;
}

.centerimage {
  padding: 65px 0 30px 0;
}

.content5-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 35px 10px 0 30px;
}

.content6-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  padding: 75px 70px 70px 30px;
  background-color: #48758A;
  color: #fff;

}

.content7-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #fff;
  padding: 75px 70px 70px 30px;
}

.content8-hash {
  grid-column-start: 1;
  grid-column-end: span 1;
  text-align: center;
  background-color: #efe;
  padding: 35px 30px 0 30px;
}

.infoshop {
  display:flex;
  /*flex-direction: column;*/
  justify-content: center;
  padding: 65px 0px 0px 0px;
}

.textbox {
  width: 50%;
  margin: auto;
}

.bottom.stripe {
  text-align: center;
  font-size: 1.4em;
}
