#dd {
/*  border: 1px solid black;
*//*  box-shadow: 4px 4px 4px #999; */

}

#container {
    background-color: #ddd;
}

#maincontainer {
  background: url('./name_site.png') no-repeat;
          background-size: 16%;

}

/* Large desktop */
@media (min-width: 1310px) {
 body { font-size:100%;
 line-height: 100%;}
 #maincontainer {
  background-position: 0px 255px;} 
img {
  max-width: 50%;
}

}

@media (min-width: 980px) and (max-width: 1309) {
 body { font-size:84%;
 line-height: 82%;}
 #maincontainer {
  background-position: 0px 240px;
  background-size: 18%;
} 
img {
  max-width: 50%;
}
}

@media (min-width: 860px) and (max-width: 979) {
 body { font-size:75%;
 line-height: 75%;}
 #maincontainer {
  background-position: 0px 230px;
  background-size: 21%;

} 
img {
  max-width: 50%;
}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 859px) {
 body { font-size:60%;
  line-height: 170%;}
  #maincontainer {
  background-position: 0px 160px;
    background-size: 23%;
}
 img {
  max-width: 50%;

 }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
 body { font-size:50%;
  line-height: 120%;}
  #maincontainer {
  background-position: 0px 25px;
    background-size: 30%;
  }
    img {
  max-width: 7%;

    }

}

/* Landscape phones and down */
@media (max-width: 480px) {
 body { font-size:20%; 
  line-height: 30%;}
  #maincontainer {
  background-position: 0px 15px;
  background-size: 50%;
}
  img {
  max-width: 5%;

  } 
}




#containerb {
    display: inline-block;
    position: relative;
    width: 23%;
    left: 7%;
}

#containerc {
  display: inline-block;
    position: relative;
    width: 29%;
    left: 10%;
}

#containerd {
  display: inline-block;
    position: relative;
    width: 29%;
    left: 9%;
}

#containere {
  display: inline-block;
    position: relative;
    width: 42%;
    left: 18%;
}

#containerf {
  display: inline-block;
    position: relative;
    width: 32%;
    left: 18%;
}

#containerg {
  display: inline-block;
    position: relative;
    width: 62%;
    left: 17%;
}

#ad {
    padding-top: 50%; /* 4:3 aspect ratio */
    background-color: white;
}
#bd {
    padding-top: 40%; /* 4:3 aspect ratio */
}

#cd {
    padding-top: 90%; /* 4:3 aspect ratio */
    /*background-color: red;*/
    border-radius: 50%;
}

#dd {
    padding-top: 70%; /* 4:3 aspect ratio */
    background-color: red;
    border-radius: 50%;
}
#ed {
    padding-top: 60%; /* 4:3 aspect ratio */
/*    background-color: red;
*/}
#fd {
    padding-top: 60%; /* 4:3 aspect ratio */
}

#gd {
    padding-top: 66%;
    /*background-color: pink;*/
}

/*
.a, .b, .c {
  float: left;
  position: relative;
}

.d, .e, .f {
  float: right;
}*/

.a {
/*  width: 90%;
  height: 40%;
  margin: 9px;*/
/*  background-color: green;
*/}

.b {
 /* width: 239px;
  height: 180px;
  margin: 9px;*/
  background-image: url("./contact.png");
  background-repeat: no-repeat;
  background-position: center;
      background-color: #eee;
      border: 9px solid #204ec1;
              background-size: 70%;

}

.c {
  /*width: 98px;
  height: 269px;
  margin: 9px;*/
  background-image: url("./tracks.jpg");
      border-radius: 50%;
    background-size: 100%;
}

.d {
  /*width: 240px;
  height: 200px;
  margin: 9px;*/
  background-image: url("./polka_dot_dress.jpg");
      border-radius: 50%;
        background-size: 108%;

}

.e {
  /*width: 121px;
  height: 175px;
  margin: 9px;*/
      border: 8px solid #ce080e;
      font-family: 'Playfair Display', serif;
      font-size: 3em;
      line-height: .9em;
      padding-left: 2%;
      padding-bottom: 1%;
}

.f {
  /*width: 185px;
  height: 230px;
  margin: 9px;*/
  background-color: gray;
  padding:12px;
}

.g {
/*  width: 720px;
  height: 490px;
  clear: both;
  margin: 9px;
  margin-left: auto;
  margin-right: auto;*/
      border: 9px solid pink;

}


#content2 {  
    margin:30px auto;   
    border:1px dotted #ccc;  
    overflow-x: scroll;
    display: inline-block;
    position: relative;
    width: 62%;
    height: 500px;
    left: 17%;
}

#images {
  width: 4860px;
}

#pd {
    padding-top: 66%;
    /*background-color: pink;*/
}

#pics {
    position: fixed;
    margin:20px 20px;  
    width:300px;  
    height:200px;  
    border:1px dotted #999;  
}

#contactinfo {
  text-align: center;
  display: none;
}

p a:hover {
  color: #787871;
  text-decoration: none;
}
p a:visited {
  color: black;
  text-decoration: none;
}

.b:hover{
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-o-transform: scale(1.1);
transform: scale(1.1);
    background-color: #ddd;
}

#myname {
  font-weight: bold;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.5em;
  display: inline-block;
  position: relative;
  width: 24%;
  left: 2%;
}

.a, .b, .c, .d, .e, .f, .g {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
}